<!--Table-->
        <div th:if="${matches_league != null}">
		<a th:href="@{/leagues}" class="btn btn-info">&nbsp;&nbsp;&nbsp;Go Back&nbsp;&nbsp;&nbsp;</a>
		<br><br>
		<div class="btn-group" role="group" aria-label="Menu">
		  <a th:href="@{/leagues/matches/}+${leagueId}" class="btn btn-secondary">Matches</a>
		  <a th:href="@{/leagues/standing/}+${leagueId}" class="btn btn-secondary">Standings</a>
		</div>
		<br>
	</div>
    <div th:unless="${matches_league != null}">
		<a th:href="@{/clubs/new}" class="btn btn-success">&nbsp;&nbsp;&nbsp;New +&nbsp;&nbsp;&nbsp;</a>
		<br><br>
	</div>
     
        <table class="table table-striped">

          <!--Table head-->
          <thead>
            <tr>
              <th>Team</th>
              <th>Points</th>
              <th>Goals</th>
              <th>Received Goals</th>
              <th>Diff</th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
          	<tr th:each="res: ${list}">
          		<th scope="row" th:text="${res.name}" />
          		<td th:text="${res.points}"/>
          		<td th:text="${res.goals}"/>
          		<td th:text="${res.goalsReceived}"/>
          		<td th:text="${res.diff}"/>
          	</tr>
          </tbody>
          <!--Table body-->


        </table>
        <!--Table-->