
<th:block th:each="lettre : ${lettres}">
   <a th:href="@{/countries/filter/}+${lettre}" class="btn btn-link"><span th:text="${lettre}"/></a>
</th:block>

<br>
  <!--Table-->
        <table class="table table-striped">

          <!--Table head-->
          <thead>
            <tr>
              <th>#</th>
              <th>Logo</th>
              <th>Name of league</th>
              <th>Country</th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
          	<tr th:each="country: ${countries}">
          		<th scope="row" th:text="${country.id}"/>
          		<td th:text="${country.name}"/>
          		<td th:text="${country.capital}"/>
          		<td th:text="${country.currency}"/>
          	</tr>
          </tbody>
          <!--Table body-->


        </table>
        <!--Table-->