<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="layouts/header.html"></th:block>

<th:block th:include="layouts/section-head.html"></th:block> 

    <section class="ftco-section contact-section">
      <div class="container">
        <div class="row block-9">
          <div class="col-md-6 order-md-last d-flex">
            <form action="#" class="bg-light p-5 contact-form" th:action="@{/stadiums/save}" th:object="${stadium}" method="post">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Stadium Name"  th:field="*{name}">
                <span class="invalid-msg" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
              </div>
              <div class="form-group">
                <select class="custom-select" id="country" th:field="*{country}" required>
                <option value="Choose"  selected>Choose...</option>
			    <option th:each="countryTmp : ${countries}" 
					          th:value="${countryTmp.id}" 
					          th:text="${countryTmp.name}"/>
			    </select>
			    <span class="invalid-msg" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span>
              </div>
              
              <div class="form-group">
	            <select class="custom-select" id="states" required>
			    </select>
              </div>
              
               <div class="form-group">
	            <select class="custom-select" id="cities"  th:field="*{city}"  required>
			    </select>
              </div>
              
              <div class="form-group">
                <input type="number" class="form-control" placeholder="Capacity" th:field="*{capacity}" >
                <span class="invalid-msg" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></span>
              </div>
              
              <div class="form-group">
              	<div class="input-group date" data-provide="datepicker">
				    <input type="text" class="form-control" placeholder="Foundtion date"  th:field="*{foundationDate}">
				    <div class="input-group-addon">
				        <span class="glyphicon glyphicon-th"></span>
				    </div>
				</div>
				<span class="invalid-msg" th:if="${#fields.hasErrors('foundationDate')}" th:errors="*{foundationDate}"></span>
              </div>
              <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary py-3 px-5">
              </div>
            </form>
          
          </div>

          <div class="col-md-6 d-flex">
          	<div id="map" class="bg-white" >
          	<img style=" height: 97%;width: 100%;"  alt="leagues" th:src="@{/images/stade.jpg}" >
          	</div>
          </div>
        </div>
      </div>
    </section>
		
 
<th:block th:include="layouts/footer.html"></th:block>
 <script>
$("#country").change(function(){
	const country = $( "#country" ).val();
	$("#country option[value='Choose']").remove();
	$.getJSON( "http://localhost:8000/football/api/states/"+country, function( data ) {
		  var items = [];
		  $('#states').empty();
		  $('#cities').empty();
		  $.each( data, function( key, val ) {
		    //items.push( "<li id='" + val.id + "'>" + val.name + "</li>" );
			  $('#states')
		         .append($("<option></option>").attr("value",val.id).text(val.name)); 
		  });
		});
	
	});
$("#states").change(function(){
	const state = $( "#states" ).val();
	$.getJSON( "http://localhost:8000/football/api/cities/"+state, function( data ) {
		  $('#cities').empty();
		  $.each( data, function( key, val ) {
		    //items.push( "<li id='" + val.id + "'>" + val.name + "</li>" );
			  $('#cities')
		         .append($("<option></option>").attr("value",val.id).text(val.name)); 
		  });
		});
	
	});
</script>
</html>